@tailwind base;
@tailwind components;
@tailwind utilities;

#myTable_filter,
#myTable_info,
#myTable_paginate {
    display: none;
}

.flatpickr-calendar{
    font-size: 13px;
}
.flatpickr-day{
    font-size: 13px;
    border-radius: 10px !important;
}

[type="checkbox"], [type="radio"]{
    @apply text-theme-600
}


.sorting_asc{
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27currentColor%27%3E%3Cpath fill-rule=%27evenodd%27 d=%27M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
}

.sorting_desc{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22currentColor%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M11.78%209.78a.75.75%200%200%201-1.06%200L8%207.06%205.28%209.78a.75.75%200%200%201-1.06-1.06l3.25-3.25a.75.75%200%200%201%201.06%200l3.25%203.25a.75.75%200%200%201%200%201.06Z%22%20clip-rule%3D%22evenodd%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}